<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @growth_area.title %>
</p>

<%= link_to 'Edit', edit_growth_area_path(@growth_area) %> |
<%= link_to 'Back', growth_areas_path %>
